table{
    width: fit-content;
    border: 2px solid rgb(100, 3, 68);
    border-collapse: collapse;
}
th{
    border: 2px solid rgb(18, 141, 59);
    color: red;
    background-color: aqua;
}
td{
    border: 2px solid black;
    color: blue;
    background-color: rgb(36, 145, 42);
}
body{
    background-color: rgb(94, 67, 32);
}